{% extends "base.html" %}


{% block content %}
{% include "menu.html" %}
<!-- START THE FEATURETTES -->
<main role="main">
    <div class="container marketing">

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Leaf <span class="text-muted"> Mold</span>
                </h2>
                <p class="lead">(<a href="https://extension.umn.edu/diseases/leaf-mold-tomato" target="_blank">Source</a>) 
                    Leaf mold is caused by the fungus Passalora fulva (previously called Fulvia fulva or Cladosporium fulvum). It is not known to be pathogenic on any plant other than tomato.
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" 
                    alt="Generic placeholder image" src="https://extension.umn.edu/sites/extension.umn.edu/files/styles/caption_medium/public/upper-leaf-mold-tomato.jpg?itok=mWatB3R2"   data-holder-rendered="true">
            </div>
        </div>

     

        <!-- /END THE FEATURETTES -->

    </div> <!-- container -->
</main>
{% endblock %}