{% extends "base.html" %}


{% block content %}
{% include "menu.html" %}
<!-- START THE FEATURETTES -->
<main role="main">
    <div class="container marketing">

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Late <span class="text-muted"> Blight</span>
                </h2>
                <p class="lead">(<a href="https://extension.umn.edu/diseases/late-blight" target="_blank">Source</a>) 
                    Late blight is caused by the oomycete Phytophthora infestans. Oomycetes are fungus-like organisms also called water molds, but they are not true fungi.
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" 
                    alt="Generic placeholder image" src="https://extension.umn.edu/sites/extension.umn.edu/files/styles/caption_medium/public/late-blight-plant-tomato.jpg?itok=NM0nDxI9"   data-holder-rendered="true">
            </div>
        </div>

     

        <!-- /END THE FEATURETTES -->

    </div> <!-- container -->
</main>
{% endblock %}