{% extends "base.html" %}


{% block content %}
{% include "menu.html" %}
<!-- START THE FEATURETTES -->
<main role="main">
    <div class="container marketing">

        <h2>List prediction model</h2>

        <table id="tablePrediction" class="table">

            <thead>
                <tr>
                    <th>#</th>
                    <th>Model</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td><a class="nav-link" href="{{ url_for('encyclopedia',topics='Healthy') }}">Healthy</a></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td><a class="nav-link" href="{{ url_for('encyclopedia',topics='BacterialSpot') }}">Bacterial Spot</a></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td><a class="nav-link" href="{{ url_for('encyclopedia',topics='EarlyBlight') }}">Early Blight</a></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td><a class="nav-link" href="{{ url_for('encyclopedia',topics='LateBlight') }}">Late Blight</a></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td><a class="nav-link" href="{{ url_for('encyclopedia',topics='LeafMold') }}">Leaf Mold</a></td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td><a class="nav-link" href="{{ url_for('encyclopedia',topics='SeptoriaLeafSpot') }}">Septoria Leaf Spot</a></td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td><a class="nav-link" href="{{ url_for('encyclopedia',topics='SpiderMites') }}">Spider Mites</a></td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td><a class="nav-link" href="{{ url_for('encyclopedia',topics='TargetSpot') }}">Target Spot</a></td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td><a class="nav-link" href="{{ url_for('encyclopedia',topics='YellowLeafCurlVirus') }}">Yellow Leaf Curl Virus</a></td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td><a class="nav-link" href="{{ url_for('encyclopedia',topics='MosaicVirus') }}">Mosaic Virus</a></td>
                </tr>
            </tbody>
        </table>



        <!-- /END THE FEATURETTES -->

    </div> <!-- container -->
</main>
{% endblock %}