{% extends "base.html" %}


{% block content %}
{% include "menu.html" %}
<!-- START THE FEATURETTES -->
<main role="main">
    <div class="container marketing">

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Septorial <span class="text-muted"> Leaf Spot</span>
                </h2>
                <p class="lead">(<a href="https://www.thespruce.com/identifying-and-controlling-septoria-leaf-spot-of-tomato-1402974" target="_blank">Source</a>) 
                    Septoria leaf spot, also called Septoria blight, is a very common disease of tomatoes. It is caused by a fungus (Septoria lycopersici) and can affect tomatoes and other plants in the Solanaceae family, especially potatoes and eggplant, just about anywhere in the world
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" 
                    alt="Generic placeholder image" src="https://www.thespruce.com/thmb/B_QIXQdfwYf-widFY3LDVoSHYMA=/768x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Septoria-Fruiting-Bodies-56a348bf5f9b58b7d0d147de.jpg"   data-holder-rendered="true">
            </div>
        </div>

     

        <!-- /END THE FEATURETTES -->

    </div> <!-- container -->
</main>
{% endblock %}