{% extends "base.html" %}


{% block content %}
{% include "menu.html" %}
<!-- START THE FEATURETTES -->
<main role="main">
    <div class="container marketing">

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Bacterial <span class="text-muted">Spot</span>
                </h2>
                <p class="lead">(<a href="https://hort.extension.wisc.edu/files/2017/03/Bacterial_Spot_of_Tomato.pdf" target="_blank">Source</a>) Bacterial spot of tomato is caused by Xanthomonasvesicatoria, Xanthomonaseuvesicatoria, Xanthomonasgardneri, and Xanthomonasperforans.   These  bacterial  pathogen scan  be  introduced  into  a garden  on contaminated seed  and  transplants</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" 
                    alt="Generic placeholder image" src="https://images.unsplash.com/photo-1534940519139-f860fb3c6e38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"   data-holder-rendered="true">
            </div>
        </div>

     

        <!-- /END THE FEATURETTES -->

    </div> <!-- container -->
</main>
{% endblock %}