{% extends "base.html" %}


{% block content %}
{% include "menu.html" %}
<!-- START THE FEATURETTES -->
<main role="main">
    <div class="container marketing">

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Yellow Leaf <span class="text-muted">Curl Virus</span>
                </h2>
                <p class="lead">(<a href="https://www2.ipm.ucanr.edu/agriculture/tomato/Tomato-Yellow-Leaf-Curl/" target="_blank">Source</a>) 
                    Tomato yellow leaf curl virus is a geminivirus (family Geminiviridae). Although it can infect a relatively wide range of plant species, tomato is the host to which the virus is best adapted and that facilitates the build-up of the virus to high incidences in the field. 
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" 
                    alt="Generic placeholder image" src="http://ipm.ucanr.edu/PMG/IMAGES/T/D-TO-TYLV-FO.005banner.png"   data-holder-rendered="true">
            </div>
        </div>

     

        <!-- /END THE FEATURETTES -->

    </div> <!-- container -->
</main>
{% endblock %}