{% extends "base.html" %}


{% block content %}
{% include "menu.html" %}
<!-- START THE FEATURETTES -->
<main role="main">
    <div class="container marketing">

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Mosaic <span class="text-muted"> Virus</span>
                </h2>
                <p class="lead">(<a href="https://extension.umn.edu/diseases/tomato-mosaic-virus-and-tobacco-mosaic-virus" target="_blank">Source</a>) 
                    Tomato mosaic virus and tobacco mosaic virus can exist for two years in dry soil or leaf debris, but will only persist one month if soil is moist. The viruses can also survive in infected root debris in the soil for up to two years.
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" 
                    alt="Generic placeholder image" src="https://extension.umn.edu/sites/extension.umn.edu/files/styles/caption_medium/public/tobacco-mosaic-virus-tomato.jpg?itok=PDdpll4A"   data-holder-rendered="true">
            </div>
        </div>

     

        <!-- /END THE FEATURETTES -->

    </div> <!-- container -->
</main>
{% endblock %}