{% extends "base.html" %}


{% block content %}
{% include "menu.html" %}
<!-- START THE FEATURETTES -->
<main role="main">
    <div class="container marketing">

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Spider <span class="text-muted">Mites</span>
                </h2>
                <p class="lead">(<a href="https://www.wikihow.com/Prevent-Spider-Mites-on-Tomato-Plants" target="_blank">Source</a>) Spider mites prefer hot and dry conditions, therefore, keep your tomato plants well hydrated and out of the hot afternoon sun.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" 
                    alt="Generic placeholder image" src="https://images.unsplash.com/photo-1578760209354-219cdcece990?auto=format&fit=crop&w=500&q=60"   data-holder-rendered="true">
            </div>
        </div>

     

        <!-- /END THE FEATURETTES -->

    </div> <!-- container -->
</main>
{% endblock %}