{% extends "base.html" %}


{% block content %}
{% include "menu.html" %}
<!-- START THE FEATURETTES -->
<main role="main">
    <div class="container marketing">

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Healthy <span class="text-muted"> Tomato Plants</span>
                </h2>
                <p class="lead">(<a href="https://plantvillage.psu.edu/topics/tomato/infos/diseases_and_pests_description_uses_propagation" target="_blank">Source</a>) 
                    Congratulations, refer the source for more information
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" 
                    alt="Generic placeholder image" src="https://s3.amazonaws.com/plantvillage-production-new/images/pics/000/002/231/original/800px-Tomato_plant_from_Kerala_5041.JPG?1391449523"   data-holder-rendered="true">
            </div>
        </div>

     

        <!-- /END THE FEATURETTES -->

    </div> <!-- container -->
</main>
{% endblock %}