{% extends "base.html" %}


{% block content %}
{% include "menu.html" %}
    
<header>
    <div class="container">
        <h1 class="logo">Tomato Plant Diseases Classification</h1>
        <strong>
            <nav>
            </nav>
        </strong>
    </div>
</header>
<div class="container">
    <h3>Upload your image</h3>
    <small>Capture the leaf and upload here to check your tomato plants condition</small>
    <hr>
    <form class="form-inline" action="{{ url_for('index') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" name="file" class="btn btn-default">
        </div>
        <div class="form-group">
            <input type="submit" value="Upload" class="btn btn-default" style="background-color: rgb(203, 231, 245);">
        </div>
    </form>
</div>
{% endblock %}